<div class="col-md-12 col-sm-12 col-xs-12 default-balance">
    <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2 col-sm-offset-2">
        <h3 class="text-center">ShareSpaceへようこそ！</h3>
        <div class="col-md-10 col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset-1 image-space-default">
            <%= image_tag 'pc-sousa.jpg' %>
        </div>
        <div class="clear"></div>
        <div class="form-default-balance col-md-10 col-xs-12 col-sm-10 text-center col-md-offset-1 col-md-offset-2 col-sm-offset-2">
            <p>ShareSpaceに登録するとユーザー間でファイルを共有することができます。</p>
            <p>ユーザーのアップロードしたファイルにコメントをすることや、</p>
            <p>ユーザー全員に公開したくないときは特定のユーザーにのみ公開をすることができます。</p>
        </div>
        <div class="form-default-balance col-md-10 col-xs-12 col-sm-10 col-md-offset-1 col-md-offset-2 col-sm-offset-2 image-space-default">
            <%= image_tag 'share.jpg' %>
        </div>
        <div class="form-default-balance col-md-10 col-xs-12 col-sm-10 text-center col-md-offset-1 col-md-offset-2 col-sm-offset-2">
            <p>仕事や動物・雑談などのジャンルが用意してあります。</p>
            <p>すべてのユーザーに公開が設定してあるトピックはだれでも参加できます。まずは気になったトピックにコメントしてみましょう。</p>
            <p>ユーザー同士で共有したいファイルやメッセージができたらトピックを作成してください。</p>
        </div>
        <div class="clear"></div>
        <div class="bg-info text-center space-default form-default-balance">
            <p>アカウントをお持ちの方はこちらから<%= link_to 'ログイン',login_path %>してください。</p>
            <p>新規でアカウントを作成する場合は<%= link_to 'サインアップ',signup_path %>から。</p>
        </div>
    </div>
</div>